<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>Controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryCodeController</servlet-name>
        <servlet-class>Controller.RecoveryCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInAdminController</servlet-name>
        <servlet-class>Controller.SignInAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSkillController</servlet-name>
        <servlet-class>Controller.ViewSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryCodeSignUp</servlet-name>
        <servlet-class>Controller.RecoveryCodeSignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>Controller.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMentorServlet</servlet-name>
        <servlet-class>Controller.ViewMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkillServlet</servlet-name>
        <servlet-class>Controller.SkillServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryCodeController</servlet-name>
        <url-pattern>/recovery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInAdminController</servlet-name>
        <url-pattern>/signinadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSkillController</servlet-name>
        <url-pattern>/viewskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryCodeSignUp</servlet-name>
        <url-pattern>/recoverysignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMentorServlet</servlet-name>
        <url-pattern>/viewmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkillServlet</servlet-name>
        <url-pattern>/skill</url-pattern>
    </servlet-mapping>
</web-app>
